NEXT_PUBLIC_URL_ARTICLES=http://localhost:4000/endpoint_here
CRON_SECRET=your_secret
REVALIDATE_TOKEN=your_token
NEXT_PUBLIC_URL_ARTICLES_MAIN=http://localhost:4000/endpoint_here
NEXT_PUBLIC_URL_ARTICLES_COMPONENT=http://localhost:4000/endpoint_here
NEXT_PUBLIC_URL_ARTICLE_FILTER=http://localhost:4000/endpoint_here
NEXT_PUBLIC_URL_ARTICLE_BY_ID=http://localhost:4000/endpoint_here