.podcast-section {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.section-h1 {
    font-size: xx-large;
    font-weight: bolder;
}

.podcast-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 90vw;
    margin: auto;
}

.podcast-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 2px;
    width: 22vw;
    text-align: left;
    position: relative;
}

.podcast-card div img {
    width: 100%;
    border-radius: 10px;
}

.podcast-card div h2{
    color: black;
    font-size: 18px;
    margin: 10px 0;
}

.podcast-card div p{
    color: #333;
    font-size: 14px;
    margin: 5px 0;
}

.learn-more-button {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px black solid;
    border-radius: 30px;
    padding: 4px 8px;
    margin-top: 10px;
}

.learn-more-button:hover {
    background-color: white;
    color: black;
}

.sub-component-h1 {
    position: absolute;
    bottom: 27px;
    margin-left: 6px;
    color: white;
    font-size: x-large;
}

.sub-component-img {
    height: 98%;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
}

.sub-component-card {
    height: 60vh;
    width: 100%;
}

.card-img {
    height: 47vh;
}

.card-img img {
    height: 45vh;
}

.card-info {
    padding: 5px;
}

@media (max-width: 1190px) {
    .podcast-card div h2{
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .sub-component-h1 {
        font-size: large;
    }
    
}

@media (max-width: 970px) {
    .podcast-card div h2{
        font-size: 12px;
    }
}
@media (max-width: 830px) {
    .podcast-card div h2{
        font-size: 10px;
    }
    .podcast-card div p{
        font-size: 8px;
    }
}
@media (max-width: 730px) {
    .podcast-container {
        flex-direction: column;
        gap: 20px;
        width: 100vw;
        margin: auto;
    }  
    .blog-contain {
        height: 18vh;
    }
    .card-img img {
        height: 90%;
        object-fit: fill;
    }
    .podcast-card  {
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
    }
    .card-img {
        width: 115px;
        height: 17vh;
        margin-left: 3px;
    }
    .card-info {
        width: 58vw;
        height: auto;
    }
    .podcast-card div h2{
        font-size: 20px;
    }
    .podcast-card div p{
        font-size: 17px;
    }
    .sub-component-h1 {
        left: 20px;
        font-size: xx-large;
    }
    .sub-component-img {
        width: 96%;
        height: 100%;
    }
    .sub-component-card {
        height: 50%;
    }
}

@media (max-width: 590px) {
    .section-h1 {
        font-size: x-large;
    }
    .podcast-card div h2{
        font-size: 20px;
        margin: 0px;
    }
    .podcast-card div p{
        font-size: 18px;
        margin: 0px;
    }
}

@media (max-width: 400px) {
    .section-h1 {
        font-size: large;
    }
    .podcast-card div h2{
        font-size: 15px;
    }
    .podcast-card div p{
        font-size: 13px;
    }
    .podcast-card {
        padding-bottom: 3px;
    }
}
